:host {
  display: block; 
}

.main-header {
  /* Esta é a regra que estava causando o erro no HTML.
     Aqui no SCSS, ela é 100% segura.
  */
  height: 64px; 
}

.nav-collapsed {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  right: 0;
  top: 0;
}
