@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
  --primary-collor: #8744b9;
  --primary-bg-collor: #fff ;
  --secondary-bg-collor: #E1CDED;
  --border-collor: #8744b9;
  --text-color: #000;
  --link-color: #000;
  --link-color-dark: #fff;
  --button-bg-color: #d0acff;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-collor);
  

}
p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--link-color-dark);
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  padding: .5rem 1rem;
  background-color: var(--border-collor);
  border-radius: .5rem;
  transition: ease-in-out .6s;

}

a:hover{
  color: var(--link-color-dark);
  cursor: pointer;
  background-color: var(--button-bg-color);
  transition: ease-in-out .6s;

}

header{
  display: flex;
  justify-content: center;
  height: 10rem;
  transition: ease-in-out .6s;
}

.navbar__box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  position: fixed;
  width: 70vw;
  gap: 8rem;


}

.navbar__box img{
 height: 6rem;
 padding: 1rem;
 align-items:baseline;
}

.navbar__menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adiciona bordas arredondadas ao menu */
  width: 50vw;
  gap: .5rem
}

.container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.container img{
  width: 50vw;
}

.container__txt{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1.5rem;
}

.container__txt h1{
  font-size: 3rem;
  font-weight: 400;
}

.container__txt p{
  font-size: 1.5rem;
}

.texto--destaque{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--border-collor);
}

.container__img{
  display: flex;
  flex-direction: column;
  width: 40%;

}

.about__container, .text__container{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 70vw;
  gap: 3rem;
}

.about__welcome{
  width: 20vw;
}

.about__accordion {
  display: flex;
  flex-direction: column;
  width: 60vw;
  gap: 1rem;
}

.accordion__item{
  display: flex;
  margin-bottom: .75rem
}

.accordion__header {
  width: 100%;
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  border: var(--text-color) solid 2px;
  border-radius: .5rem .5rem  0 0;
  background: var(--primary-collor);
  text-align: left;
  cursor: pointer;
  transition: ease-in-out .3s;
  gap: 1rem
}

.accordion__header h2{
  color:  var(--link-color-dark);
  font-weight: 400;
}
.accordion__body {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border: var(--text-color) solid 2px;
  border-radius: 0 0 .5rem .5rem;
  }

.accordion__body p{
      font-size: 1.2rem;
  }
.accordion__item summary {
      list-style: none;
  }
  
.accordion__item summary i {
      display: inline-block;
      transition: transform 0.3s ease; 
  }
  
.accordion__item[open] summary i {
      transform: rotate(180deg);
  }

.accordion__item[open] .accordion__header{
      border-radius: .5rem .5rem 0 0;
      transition: 0;
  }




.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#textInput {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  background-color: var(--border-collor);
  color: var(--link-color-dark);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.buttons button:hover {
  background-color: var(--button-bg-color);
}

#pictograms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px; /* Add space between menu and pictograms */
}

#pictograms img {
  width: 4cm;
  height: 4cm;
  margin: 10px; /* Add space between pictograms */
}

.center-image {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: var(--secondary-bg-collor);
  text-align: center;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
}

footer p{
  width: 70vw;

}



@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin: 10px 0;
  }

  .about-section {
    width: 90%;
  }
}


.about-section {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  text-align: left;
}

.about-section h2 {
  color: #003366;
  margin-bottom: 10px;
}

.about-section ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.about-section p, .about-section ul li {
  line-height: 1.6;
}
